html {
    font-size: 50%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-main: 'Oxanium';
    --bg-color: #151515;
    --bg-color2: #301b3f;
    --text-primary: #e1caf1;
    --text-secundary: #aa76e1;
    --border-color: #3c415c;
    --bg-btn-active: #c894ff;
    --shadow-m: 0 3px 10px rgba(7, 7, 7, 0.6);
    --shadow-s: 0 2px 6px rgba(7, 7, 7, 0.5);
}

body,
#root,
header,
.summary-container,
.transactionsList,
.transactionsList li,
.add-edit-container-lg,
.form-add-edit,
.form-add-edit div,
.confirm {
    display: flex;
    flex-direction: column;
}

.positive,
.list-income p {
    color: #8aff8a;
}

.negative,
.list-expense p {
    color: red;
}

body {
    position: relative;

    min-height: 100dvh;

    font-family: var(--font-main), sans-serif;
    color: var(--text-primary);

    background-color: var(--bg-color);
    background-image: linear-gradient(transparent 70%, var(--bg-color2));
    background-size: cover;
    background-repeat: no-repeat;
}

body:has(.add-edit-container-lg),
body:has(.confirm-container) {
    overflow: hidden;
}

h1 {
    position: relative;

    text-align: center;
    font-size: 2.8rem;

    color: var(--text-secundary);
    text-shadow: 0 0 17px #5f37f5;
    perspective: 500px;

    &::after {
        content: attr(data-text);
        display: block;
        position: absolute;

        top: 100%;
        left: 0;
        right: 0;

        transform-style: preserve-3d;
        transform-origin: top;

        transform: scaleY(-1) rotateX(-50deg) translateY(-12px);
        background-image: linear-gradient(
            transparent 10%,
            var(--text-secundary) 95%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.4;
        text-shadow: none;
    }
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

#root {
    flex: 1;
    gap: 2rem;
    align-items: center;

    width: 100%;
    padding: 6rem 2rem 5rem 2rem;
}

.container {
    padding: 3rem 2rem;
    width: 100%;
    max-width: 45rem;

    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    box-shadow: var(--shadow-m);
}

.totalBalance {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        font-size: 2rem;
    }
}

.summary-container {
    gap: 2rem;
}

.summary {
    display: flex;
    justify-content: space-around;

    & div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 45%;
    }
}

.list-summary {
    & p {
        font-size: 1.8rem;
    }
}

.btn {
    align-self: center;
    padding: 0.5rem 1rem;

    font-family: var(--font-main);
    font-weight: 800;
    color: var(--text-secundary);

    background-color: var(--bg-color);
    border: 2px solid var(--text-secundary);
    border-radius: 1rem;
    cursor: pointer;
}

.btn-add:hover,
.btn-add:active,
.btn-update:hover,
.btn-update:active {
    box-shadow: 0 0 10px var(--bg-btn-active);
    color: whitesmoke;
    background-color: var(--bg-btn-active);
    border-color: var(--bg-btn-active);
}

.btn-delete:hover,
.btn-delete:active {
    box-shadow: 0 0 10px red;
    color: whitesmoke;
    background-color: red;
    border-color: red;
}

.container-filter {
    display: flex;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1.6rem;
    margin-top: 1rem;

    & div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & div input[type='radio'] {
        appearance: none;
    }

    & div label {
        padding: 0.2rem;
    }

    & div:has(input[type='radio']:checked) {
        background-color: var(--border-color);
    }
}

.transactionsList {
    margin-top: 2rem;
    font-size: 1.8rem;
    gap: 1.5rem;

    & li {
        position: relative;
        gap: 0.5rem;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem;

        &:last-child {
            border: none;
        }
    }

    .trancation-value {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        max-width: 90%;

        & span:first-child {
            flex: 1 1 0;
            overflow-wrap: anywhere;
        }

        & span:nth-child(2) {
            flex: 1;
            max-width: 12rem;
        }

        & span:nth-child(3) {
            flex: 1;
            max-width: 10rem;
        }
    }
}

.btn-menu {
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 600;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 2rem;
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 2rem;
}

.add-edit-container-lg {
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 5;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.add-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & h2 {
        font-size: 3rem;
    }
}

.form-add-edit {
    gap: 0.5rem;

    & div {
        height: 8rem;
    }

    & label {
        font-size: 2rem;
        margin-bottom: 0.3rem;
    }

    & span {
        font-size: 1.3rem;
        font-weight: 900;
        color: rgb(255, 43, 43);
    }

    & input,
    select {
        margin-bottom: 0.2rem;
        padding: 0.5rem 1rem;

        font-family: inherit;
        color: whitesmoke;
        font-weight: 600;

        background-color: var(--bg-color);
        box-shadow: var(--shadow-s);
        border: 1px solid var(--text-secundary);
        border-radius: 1rem;
    }

    & input:focus,
    select:focus {
        outline: none;
        border-color: var(--text-primary);
        box-shadow: 0 0 5px var(--text-primary);
    }

    & input[type='date']::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    & .add-btn-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 5rem;
    }
}

.confirm-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.confirm {
    gap: 1rem;
    max-width: 90%;
    align-items: center;

    & h3 {
        font-size: 2.5rem;
    }

    & p {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
    }

    & div {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
}

.btn-confirm-delete {
    border-color: red;
    color: red;

    &:hover,
    &:active {
        color: white;
    }
}

.no-transaction-msg {
    font-size: 1.6rem;
}

.hide-mobile {
    display: none;
}
