@media (min-width: 64em) {
    html {
        font-size: 62.5%;
    }
    .container {
        max-width: 70rem;
    }

    .transactionsList li {
        display: flex;
        flex-direction: row;
        border-bottom: none;

        &:hover {
            background-color: rgba(222, 196, 255, 0.075);
        }

        &:hover .btn-container {
            visibility: visible;
        }
    }

    .trancation-value {
        flex: 3;
    }

    .btn-container {
        flex: 1;
        display: flex;
        gap: 1rem;
        visibility: hidden;
    }

    .add-edit-container {
        width: 50rem;
    }

    .form-add-edit div {
        width: 30rem;
    }

    .mobile {
        display: none;
    }
}
